extends ../layout/extends_layout.jade
block content

  // Navbar (Search)
  nav#mySidenav.w3-sidenav.w3-black.w3-card-2.w3-animate-top.w3-center.w3-xlarge.w3-display-topright(style='display:none;height:auto;')
    a.w3-closenav.w3-xlarge.w3-right.w3-display-topright(href='javascript:void(0)', onclick='w3_close()', style='padding:5px 22px')
      i.fa.fa-remove
    a.w3-text-grey.w3-hover-black(href='/byl/flower') Flowers
    a.w3-text-grey.w3-hover-black(href='/byl/travel') Travels
    a.w3-text-grey.w3-hover-black(href='/byl/other') Others
    if user
      a.w3-text-grey.w3-hover-black(href='/byl/other/add') Add
      a.w3-text-grey.w3-hover-black(href='/byl/other/edit') Edit
      a.w3-text-grey.w3-hover-black(href='/byl/other/delete') Delete        
      a.w3-text-grey.w3-hover-black(href='/auth/logout') Log Out
    else
      a.w3-text-grey.w3-hover-black(href='/auth/login') Administrator
  // !PAGE CONTENT!
  .w3-content(style='max-width:1500px')
    .w3-container.w3-padding-32.w3-center.w3-opacity.w3-margin-bottom
      .w3-clear
        h1 OTHERS
  // Photo Grid
  for other in others
    .w3-row-padding
      .w3-third
        .section
          a(target='_self', href='http://localhost:3000/byl/others/' + other.otherId + '?category=' + other.category)
            img(src=other.path)
            .photo-text
              =other.category
  // Clear floats
  .w3-clear
  //Footer & navbar & sidenave
  include ../layout/includes_navbar.jade
